<div class="container">
  <h1>Application de gestion de vols Sénégal airlines</h1>

  <div class="card">
    <div class="card-header">
      Information du vol
    </div>
    <div class="card-body">
      <div class="mt-3">
        <div>ID : {{vol.id}}</div>
        <div>NUMERO : {{vol.number}}</div>
        <div>PAYS DE DEPART : {{vol.countryDeparture}}</div>
        <div>PAYS D'ARRIVER : {{vol.countryArrival}}</div>
        <div>COMPANIE : {{vol.company}}</div>
        <div>PRIX : {{vol.price}}</div>
        <div>DATE DE CREATION : {{vol.createdAt}}</div>
      </div>
    </div>
  </div>
</div>
